{{#each items as |item|}}
  <h4>Description: {{item.description}}</h4>
  <p>Cost: ${{item.cost}}</p>
  <p>Details: {{item.details}}</p>
  <p><img src="{{item.image}}" alt="{{item.description}}"/></p>
  <br>
  {{#link-to 'admin-update-item' item.id}}<button class="btn btn-primary">Update</button>{{/link-to}}
  <button class="btn btn-danger" {{action 'deleteItem' item}}>Delete</button>
  <br><br>
{{/each}}
